body {
  background-color: rgba(128, 128, 128, 0.123);
}

ul {
  list-style: none;
}

li, ul, ol {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  font-size: 1.5em;
  color: rgba(9, 20, 51, 0.767);
}

#calculator {
  margin: auto auto;
}

.calculator-container {
  display: flex;
  justify-content: flex-start;
}

section {
  margin-right: 1em;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner:after {
  content: " ";
  display: block;
  width: 10em;
  height: 10em;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  