ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#calculator {
  margin: auto auto;
  width: 80%;
  height: 80%;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner:after {
  content: " ";
  display: block;
  width: 10em;
  height: 10em;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  